<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <!-- Google Tag Manager -->
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-WRTG43N");
  </script>
  <!-- End Google Tag Manager -->

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WRTG43N"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h1 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h1>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="ham_container sidebar-toggle">
      <div class="ham_wrap">
        <p class="ham_bar_area">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </p>
      </div>
    </label>
    <script src="../public/js/jquery=3.3.1.min.js"></script>
    <script>
      (function(document) {
        var toggle = document.querySelector(".sidebar-toggle");
        var sidebar = document.querySelector("#sidebar");
        var checkbox = document.querySelector("#sidebar-checkbox");

        document.addEventListener(
          "click",
          function(e) {
            var target = e.target;
            if (
              !checkbox.checked ||
              sidebar.contains(target) ||
              (target === checkbox || target === toggle)
            )
              console.log();
            return;

            checkbox.checked = false;
          },
          false
        );
      })(document);

      $(".ham_container")
        .hover()
        .click(function() {
          $(".ham_wrap")
            .find(".bar")
            .toggleClass("ham_container_toggle");
        });
      $(".ham_wrap")
        .hover()
        .click(function() {
          $(".ham_wrap")
            .find(".bar:nth-child(1)")
            .toggleClass("ham_first_bar_toggle");
        });
      $(".ham_wrap")
        .hover()
        .click(function() {
          $(".ham_wrap")
            .find(".bar:nth-child(2)")
            .toggleClass("ham_two_bar_toggle");
        });
      $(".ham_wrap")
        .hover()
        .click(function() {
          $(".ham_wrap")
            .find(".bar:nth-child(3)")
            .toggleClass("ham_three_bar_toggle");
        });
    </script>
  </body>
</html>
