---
layout: default
---

<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<!-- START OF RELEVANT PART -->
<div class="just-comments" data-allowguests="true" data-apikey="74990c3f9164c55222e4e73e0c03b56f"></div>
<!-- END OF RELEVANT PART -->

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>


